body{
    background-image: url(./img/Video-editing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* iner contaner for the head */
.iner-head{
    display: flex;
    justify-content: space-evenly;
}
/* style for all text */
h1, p, h2{
    font-family: fantasy;
    font-weight: 100;
}
/* ----------------------all content in the head tage starts here-------------- */

/* backgroung img for the head text */
.head{
    background-image: url(./img/blur\ city.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120rem 40rem;
    /* background-size: cover; */
    border-radius: 25px;
    transition: .7s;
    border: .1rem solid rgba(7, 115, 204, 0.507);
}
.head:hover{
    background-image: url(./img/fire.jpg);
    border: .2rem solid rgba(245, 245, 220, 0.507);
   
}
/* welcome test style  */
.welcome-text{
    margin-left: 50px;
    font-size: 32px;
    padding: 10px;
}
/* vidoe text style */
.video-text, .info-text{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
}
/* contact me text style */
.contact-text{
    display: flex;
    justify-content: center;
    margin: 1rem 52rem;
    background-image: linear-gradient(rgb(64, 25, 155), rgba(12, 146, 84, 0.397));
    color: rgba(0, 162, 255, 0.63);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.836);
    border-radius: 5px;
    /* border: .2rem solid black; */
    transition: .7s;
}
.contact-text:hover{
    color: aqua;
}
/* all  backgroung style for the head tage*/
.video-text, .info-text, .welcome-text, #wrestling-text{
    background-image: linear-gradient(rgb(64, 25, 155), rgba(12, 12, 12, 0.397));
    /* border: .2rem solid rgba(0, 0, 0, 0.637); */
    border-radius: .5rem;
    color: rgba(255, 255, 255, 0.589);
    transition: .9s;
}
.video-text:hover{
    color: rgba(255, 0, 0, 0.521);
}
.video-link{
    text-decoration: none;
    color: black;
}

/* ------------------------all the content in the head stops here------------------ */


/* ------------------------wrestling videos style stars here-------------------- */
/* style for wrestling text */
#wrestling-text, .famText{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.575);
    margin: 0rem  43rem;
    padding-left: 1rem;
    background-image: linear-gradient(rgba(120, 56, 150, rgb(21, 22, 24)6, 146));
    text-shadow: 2px 2px 4px rgba(159, 169, 182, 0.486);
}
/* magin seporating the main tab and the wrestling ext */
.wrestling{
    margin-top: 5rem;
  
}
/* style and spasing for the wrestling videos */
.wrestling-videos{
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
} 
/* space for the right of the page  */
.space{
    margin-left: 20rem;
}

.holder{
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    background-image: linear-gradient(rgb(56, 107, 150), rgb(12, 66, 146));
    border-radius: 1rem;
    border: .35rem solid black; 
    margin-left: 2rem;
}

/* ----------------------------- wrestling videos style ends here------------ */
iframe{
    margin-left: 1rem;
    margin-top: 3rem;
    border-radius: 15px;
    box-shadow: 2px 2px 6px black;
    opacity: .8;
}

/* styel for scrol bar */
.wrestling ::-webkit-scrollbar{
    background-color: rgb(0, 0, 0);
    opacity: .5;
    border-radius: 10px;
    height: .8rem;
}

.wrestling ::-webkit-scrollbar-thumb{
    background-color: rgba(32, 11, 216, 0.911);
    border-radius: 10px;
    margin-bottom: 1rem;
    border:  .2rem solid rgb(0, 0, 0);
}

/* style for fier fox scrolbar  */
@supports (scrollbar-color: red blue ) {
    * {
        scrollbar-color: rgb(38, 0, 255) rgb(0, 0, 0);
        scrollbar-width: thin ; 
    }
}

/* ----------------------------------------------------style for fam------------------------------------------- */
.famText{
    margin-top: 2rem;
    background: rgba(19, 146, 185, 0.616);
   border-radius: .5rem;
   border: .1rem solid black;
}

/* .family{
    display: flex;
    justify-content: space-around;
} */